.ForgotPasswordforms {
  width: "100%";
  padding-right: "36%";
  padding-right: "36%";
  padding-top: "5%";
  align-items: "center";
  justify-content: "center";
}
.ForgotPassword-email {
  background-color: "white";
  width: "100%";
  border-radius: "5px";
}
.ForgotPasswordlabel {
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

.ForgotPassword-submit {
  margin-top: "10px";
  width: "100%";
  align-items: "flex-end";
  background: "#232327";

  padding: " 10px 30px";
  background: "#15495d";
  border-radius: "10px";
  color: "white";
}

.ForgotPassword-submit:hover {
  background: "#308294";
}
